:root {
    --clr-text-main: #84faa9; /* Updated text color to white */
    --clr-background: #0c5884;
    --clr-primary: #49ffaa;
    --clr-secondary: #26d36e;
    --clr-tertiary: #13b456;
    --clr-accent: #e67e22;
    --clr-border: #15954a;
    --clr-form: #13b456; /* Updated form background color */
}

body {
    background-color: var(--clr-background);
    color: var(--clr-text-main);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

header, footer {
    width: 100%;
    text-align: center;
    background-color: var(--clr-secondary); /* Updated header and footer background color */
    flex-shrink: 0; /* Prevent header and footer from shrinking */
    padding: 20px 0;
    height: 100px;
    display: flex;
}

nav {
    display: inline-block;
}

nav a {
    padding: 10px 20px;
    background-color: var(--clr-secondary); /* Updated nav background color */
    color: var(--clr-text-main);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    background-color: var(--clr-tertiary); /* Updated nav hover background color */
}

main {
    flex: 1;
    background-color: var(--clr-background);
}

section div {
    background-color: var(--clr-tertiary); /* Updated section div background color */
    border: solid 3px var(--clr-border); /* Updated section div border color */
    border-radius: 5px;
    min-height: 100px;
    padding: 10px 30px;
    margin: 0 auto; /* Center horizontally */
    width: 70%; /* Use 80% width of the container */
}

footer {
    display: flex;
    background-color: var(--clr-tertiary);
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.container {
    flex-grow: 1; /* Grow to take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 0; /* Add padding to create space around the form */
}

.two {
    padding: 100px 10px; /* Add padding to create space around the form */
    flex-direction: row;
}

section {
    min-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%; /* Use 80% width of the container */
    background-color: var(--clr-form);
    padding: 20px; /* Add padding to the form */
    border: solid 5px var(--clr-border); /* Updated form border color */
    border-radius: 10px; /* Add border radius for rounded corners */
    margin: 0 auto; /* Center horizontally */
}

form label {
    margin-bottom: 10px;
}

form input[type="text"],
form textarea {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--clr-border);
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: var(--clr-secondary); /* Updated form button background color */
    color: var(--clr-text-main);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: var(--clr-primary); /* Updated form button hover background color */
}
