:root {
    --clr-text-main: #333;
    --clr-background: #ddd;
    --clr-div-bckg: #ccc;
    --clr-div-brdr: #acacac;
    --clr-dev: #f00;
}

body {
    background-color: var(--clr-background);
    color: var(--clr-text-main);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

nav {
    display: inline-block;
}

nav a {
    padding: 10px 20px;
    background-color: var(--clr-div-bckg);
    color: var(--clr-text-main);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

nav a:hover {
    background-color: var(--clr-div-brdr);
}


main {
    flex: 1;
    background-color: var(--clr-background);
}


header, footer {
    width: 100%;
    text-align: center;
    background-color: var(--clr-div-bckg);
    flex-shrink: 0; /* Prevent header and footer from shrinking */
    padding: 20px 0;
}


footer {
    margin-top: auto;
    width: 100%;
    text-align: center;
    background-color: var(--clr-div-bckg);
}

main {
    flex: 1;
    background-color: var(--clr-background);
}

.container {
    flex-grow: 1; /* Grow to take up remaining space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section div {
    background-color: var(--clr-div-bckg); /* Use var() to reference the CSS variable */
    border: solid 3px var(--clr-div-brdr);
    border-radius: 5px;
    min-height: 100px;
    min-height: 100px;
    padding: 10px 30px 10px 30px;
    margin: 10px;
}